


header{
  width: 100%;
  height: 100px;

  background-color: #ffbffb;
  margin-bottom: 20px;

  z-index: 10;
}
.wrapper{
  width: 90%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
}
.logo{
  font-size: 30px;
  font-weight: 50px;
  float: left;
}
.logo img{
  width: 100px;
  padding: 15px 15px;
}
nav{
  float: right;
  line-height: 200px;
  line-height: 100px;
}
header nav a{
  display: inline-block;
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  line-height: normal;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
header nav a:hover{
  background-color: lightblue;
  border-radius: 50px;
}
.header2 .logo{
  line-height: 100px;
  font-size: 30px;
}
  

  body {
    background: url('/img/imagenes/helados\ \(1\).jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }
  
  .main {
      padding: 20px;
  }
  .main-title {
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      text-shadow: 0 0 2px #ffa7f9;
      margin: 35px;
  }
  .container_products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px 10px;
  }
  .product {
      padding: 10px;
      text-align: center;
      position: relative;
      transition: transform .3s;
  }
  .product:hover {
      -ms-transform: scale(1.5); 
      -webkit-transform: scale(1.5); 
      transform: scale(1.1); 
  }
  .product_img {
      height: auto;
      opacity: 0.9;
  }
  .product_title {
      text-align: center;
      text-shadow: 0 0 2px white;
      position:absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%,-50%);
      font-size: 14px;
      color: rgb(31, 31, 31);
      font-family: 'Montserrat', sans-serif;
  }

.copas{
    border-top: 5 rem;
}

.sectCards{
    background-color: #ec93dfcc;
    padding-bottom: 10px;
}
.segundaCards {
    background-color: #f7f7f6dc;
    border: #092b3a 2px solid;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(9, 9, 9, 0.2);
    cursor: default;
    transition: all 400ms ease;
}
.segundaCards:hover{
    box-shadow: 5px 5px 20px rgba(9, 9, 9, 0.4) ;
    transform: translateY(-3%);
}
.segundaCards p{
    line-height: 1.4;
}
.segundaCards a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin: 10px 0;
    color: #0f3c43;
    border: 1px solid #0f3c43;
    border-radius: 4px;
    transition: all 400ms ease;
}
.segundaCards a:hover{
    background-color: #5e888f;
    color: white;
}
  


  /*para tablet 768*/
  /*para web 1024*/
  @media screen and (min-width:1024px) {
      .container {
        width: 1000px;
        margin: auto;
      }
      .container_products {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
      }
      .product_title {
      font-size: 20px
      }
  }
  
  
  .sabor_title {
      text-align: center;
      font-size: 25px;
      font-family: 'Montserrat', sans-serif;
      text-shadow: 0 0 2px #ffa7f9;
      padding: 10px;
      margin-top: 60px;
  }
  .container_sabores {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      max-width: 1200px;
      margin: auto;
      background-color: #ffbffb;
      opacity: 0.9;
  }
  .container_sabores:hover {
      background-color: #ffa7f9;
      box-shadow: 0 5px 10px 0 black;
  }
  .box_sabores {
      display: flex;
      flex-direction: column;
      padding: 25px;
      font-family:'Montserrat', sans-serif;
      font-size: 16px;
  }


  
  .sucursal_title {
      text-align: center;
      font-size: 25px;
      font-family: 'Montserrat', sans-serif;
      text-shadow: 0 0 2px #ffa7f9;
      padding: 10px;
      margin-top: 60px;
  }
  .group:before,.group:after{content:"";display:table}.group:after{clear:both}.group{zoom:1}
  .one-third {float:left;margin-left:2.564102564102564%;margin-bottom:2.564102564102564%;}
  .one-third{width:31.623931623931625%}
  ul {
    width: 80%;
    margin: 1.25em auto;
    padding: 0;
    list-style: none;
  }
  ul li {
  padding: 0;
  text-align: center;
    background-size: cover;
  }
  ul li.one-third:first-of-type,
  ul li.one-third:nth-of-type(3n + 1) {
    clear: both;
    margin-left: 0;
  }
  ul li a {
    display: block;
    text-decoration: none;
    color: #000;
    background-color: #ffbffb;
    opacity: 0.8;
  }
  ul li a:hover {
  background-color: #ffa7f9;
    box-shadow: 0 5px 10px 0 black;
  }
  ul li h2 {
    margin: 0;
    padding: 5% 0;
    font-weight: normal;
    font-size: 18px;
      color: rgb(0, 0, 0);
    text-shadow: 0 0 5px white ;
    font-family: 'Montserrat', sans-serif;
  }
  
  @media all and (max-width: 600px) {
    ul li.one-third:first-of-type,
    ul li.one-third:nth-of-type(3n + 1) {
      clear: both;
      margin-left: 0;
    }
    li.one-third {
      width:48.717948717948715%
    }
    ul li.one-third:nth-of-type(3n + 1) {
      clear: none;
      margin-left: 2.564102564102564%;
    }
    ul li.one-third:nth-of-type(2n + 1) {
      clear: both;
      margin-left: 0;
    }
  }
  @media all and (max-width: 480px) {
    li.one-third {
      width:100%;
    }
    ul li.one-third:nth-of-type(2n + 1) {
      clear: none;
      margin-left: 2.564102564102564%;
    }
  }
  
  footer{
    width: 100%;
    margin-top: 50px;
    padding: 0px 0px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .container_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px; 
    background-image: url(https://i.pinimg.com/originals/e0/28/7b/e0287b2e47bc1b3ef0fa009abb8ac2b3.png);
  }
  
  .box__footer .address p{
    font-size: 20px;
  }
  
  .box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
  }
  
  .box__footer .logo_footer img{
    width: 75px;
  }
  .box__footer .terms p{
    color: black;
    font-weight: 600;
  }
  
  .box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: black;
    font-size: 18px;
  }
  
  .box__footer h2{
    margin-bottom: 30px;
    color: black;
    font-weight: 700;
  }
  
  .box__footer a{
    margin-top: 10px;
    color: black;
    font-weight: 600;
  }
  
  .box__footer a:hover{
    opacity: 0.5;
  }
  
  .box__footer a .fab{
    font-size: 20px; 
    text-transform: none;
  }
  
  .box_copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0 40px;
  }
  
  .box_copyright p{
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
  }
  
  .box_copyright hr{
    border: none;
    height: 2px;
    background-color: #7a7a7a7a;
  }
  
  
  @media screen and (max-width:768px){
    header .logo,
    header nav{
        width:100%;
        text-align:center;
        line-height: 100px;
    }
    .header2{
        height: auto;
    }
    .header2 .logo,
    .header2 nav{
        line-height: 50px;
    }
    
    .title{
        width: 100%;
        padding: 5px;
        margin-top: 350px;
        padding-top: 0px;
    }   
  }
